.container{
    background-color: slategrey;
}
.header{
    display:flex;
    align-items: center;
    justify-content: space-around;
   background-color: cadetblue;
   position: fixed;
   width: 100%;
   top: 0px;
}
.pic-logo{
    width: 30%;
    height: 50px;
    display: flex;
    align-items: center;
}
.img{
    width: 50px;
    height: 40px;
}
#my-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
   
}
#my-logo{ 
    font-size: 40px;
}
.link{
    width: 50%;
    height: 40px;
    margin-top:20px ;
}
.link a{
    text-decoration: none;
    font-weight: bolder;
    justify-content: space-between;
    margin-left: 30px;
    font-size: 20px;
    margin-right: 40px;
    font-size: 30px;
    align-items: center;
    
}
.big-division{
    background-image: url("Div-Image.JPEG");
    background-repeat: no-repeat;
    background-size: cover;
    width: 75%;
    height: 500px;
   margin: auto;
    font-weight: bolder;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.big-division a{
    font-weight: bolder;
    text-decoration: none;
    font-size: 21px;
}
.combined-division{
    display: flex;
    align-items: center;
    background-color: rgb(161, 221, 161);
}
.first-division{
    height: 400px;
    width: 300px;
    background: gray;
    margin: 20px;
    margin-left: 20px;
    font-size: 25px;
}
.second-division{
    height: 400px;
    width: 290px;
    background: gray;
    margin: 20px;
    font-size: 25px;
}
.third-division{
    height: 400px;
    width: 300px;
    background: gray;
    margin: 20px;
    margin-right: 20px;
    font-size: 25px;
}
.images{
    display: flex;

}
.division-image{
    height: 245px;
    width: 500pxpx;
    margin-left: 2px;
}
.division2-intro{
    height: 280px;
    width: 500pxpx;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}
.first-division img{
    height: 200px;
    width: 300px;
}
.second-division img{
    height: 200px;
    width: 290px;
}
.third-division img{
    height: 200px;
    width: 300px;
}
#how{
    text-decoration: underline;
    color: rgb(12, 2, 22);
}
#last-division{
    height: 400px;
    width: 500px;
    background: black;
    margin: auto;

}
.more-body{
    margin-top: 55px;
    margin-right: 100px;
}
.contacts{
    margin-top: 55px;
}
.singn-up-boyd{
    margin-top: 55px;
}
.response{
    margin-top: 55px;
}




